In [2]:
import pandas as pd

In [3]:
# 2 main datatypes
series = pd.Series(["BMW","Toyota","Honda"])

In [4]:
series

0       BMW
1    Toyota
2     Honda
dtype: object

In [5]:
#series = 1- dimensional

In [6]:
colours = pd.Series(["RED","BLUE","WHITE"])

In [7]:
colours

0      RED
1     BLUE
2    WHITE
dtype: object

#DataFrame = 2-Dimensional

In [8]:
car_data = pd.DataFrame({"Car Make" : series , "Colour" : colours})
car_data

  Car Make Colour
0      BMW    RED
1   Toyota   BLUE
2    Honda  WHITE